<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Espacios del Parqueadero</title>
    <link rel="stylesheet" href="estilo5.css">
</head>
<body>
<div class="centrado">
    <div class="parqueadero">
        <div class="espacio disponible">1</div>
        <div class="espacio disponible">2</div>
        <div class="espacio disponible">3</div>
        <div class="espacio ocupado">4</div>
        <div class="espacio disponible">5</div>
        <div class="espacio ocupado">6</div>
        <div class="espacio disponible">7</div>
        <div class="espacio disponible">8</div>
        <div class="espacio disponible">9</div>
        <div class="espacio disponible">10</div>
        <div class="espacio disponible">11</div>
        <div class="espacio disponible">12</div>
        <div class="espacio ocupado">13</div>
        <div class="espacio ocupado">14</div>
        <div class="espacio disponible">15</div>
        <div class="espacio disponible">16</div>
        <div class="espacio ocupado">17</div>
        <div class="espacio disponible">18</div>
        <div class="espacio disponible">19</div>
        <div class="espacio disponible">20</div>
    </div>
    <a href="index.html">
        <button>
            Menu
        </button>
    </a>
</div>
</body>
</html>
