<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>
<div class="logo-container">
    <img src="LOGO2.png" alt="Logo">
</div>
<ul>
    <div class="button-group">
        <a href="/registo/Entrada"><button id="btn-entrada">Registro de entrada</button></a>
        <a href="/registro/salida"><button id="btn-salida">Registro de salida</button></a>
        <a href="/registro/cliente"><button id="btn-cliente">Registro de cliente</button></a>
        <a href="/espacio/parqueo"><button id="btn-parqueadero">Espacios del parqueadero</button></a>
    </div>
</ul>
</body>
</html>
