<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Registros</title>
  <link rel="stylesheet" href="/estilo6.css">
</head>
<body>
<div class="table-title">
  <h3>Registro de entrada</h3>
</div>
<table class="table table-ligth table-striped-columns">
  <thead>
  <tr>
    <th class="text-left">Cedula</th>
    <th class="text-left">Placa</th>
    <th class="text-left">Fecha y Hora de Entrada</th>
    <th class="text-left">Tipo de Vehículo</th>
    <th class="text-left">Espacio de Parqueadero Asignado</th>
    <th class="text-left">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="registro : ${vehiculos}">
    <td th:text="${registro.cliente}"></td>
    <td th:text="${registro.placa}"></td>
    <td th:text="${registro.fechaEntrada}"></td>
    <td th:text="${registro.tipo}"></td>
    <td th:text="${registro.espaciosParqueadero}"></td>
    <td>
      <a th:href="@{/editar2/}+${registro.id}" class="btn btn-warning">Editar</a>
      <a th:href="@{/eliminar2/}+${registro.id}"  class="btn btn-danger">Eliminar</a>
    </td>
  </tr>
  </tbody>
</table>
<a href="/inicio" class="btn">Volver a la página principal</a>
</body>
</html>
