<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Pagar</title>
  <link rel="stylesheet" href="pagar.css" />
</head>
<body>
<div class="container">
  <div class="box">
    <div class="content">
      <h1>Total a pagar</h1>
      <div class="database-values" style="border: 1px solid black; padding: 10px;">
        <!-- Aquí se mostrarán los valores de la base de datos en el futuro -->
      </div>
      <div class="button-container">
        <a href="https://www.paypal.me/mafedisa">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Pagar
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
