<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Registro de salida</title>
    <link rel="stylesheet" href="/estilo3.css">
</head>
<body>
<div class="form-registrar">
    <h4>Registro de salida</h4>
    <form >
        <div class="form-group">
            <label>CEDULA</label>
            <input  type="text" class="form-control"/>
        </div>
        <div class="card-footer">
            <a th:href="@{/pagar}" class="btn btn-warning">Pagar</a>
            <a th:href="@{/inicio}" class="btn btn-warning">Atras</a>
        </div>
    </form>
</div>
<button class="menu-btn"><a href="/inicio">Menú</a></button>
</body>
</html>
